$cubic-transition: cubic-bezier(.25,.46,.45,.94);

.animation-target {
  &.ng-enter,
  &.ng-leave {
      -webkit-transition: all .2s $cubic-transition;
      -moz-transition: all .2s $cubic-transition;
      -o-transition: all .2s $cubic-transition;
      transition: all .2s $cubic-transition;
  }
  &.ng-enter {
      opacity: 0;
  }
  &.ng-enter-active {
      opacity: 1;
  }
  &.ng-leave {
      opacity: 1;
  }
  &.ng-leave-active {
      opacity: 0;
      display: none;
  }
}

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.animated {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    &.infinite {
      -webkit-animation-iteration-count: infinite;
       animation-iteration-count: infinite
    }

    &.iteration {
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1
    }

    &.alternate {
      -webkit-animation-direction: alternate;
      animation-direction: alternate
    }
}

.rubberband {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand
}

.animate-target {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
