/* Circular */
@font-face {
  font-family: 'Circular';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/lineto-circular-book.eot');
  src: url('fonts/lineto-circular-book.eot?#iefix') format('embedded-opentype'),
       url('fonts/lineto-circular-book.woff') format('woff'),
       url('fonts/lineto-circular-book.ttf') format('truetype'),
       url('fonts/lineto-circular-book.svg#CircularBook') format('svg');
}

@font-face {
  font-family: 'Circular';
  font-weight: normal;
  font-style: italic;
  src: url('fonts/lineto-circular-bookitalic.eot');
  src: url('fonts/lineto-circular-bookitalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/lineto-circular-bookitalic.woff') format('woff'),
       url('fonts/lineto-circular-bookitalic.ttf') format('truetype'),
       url('fonts/lineto-circular-bookitalic.svg#CircularBookItalic') format('svg');
}

@font-face {
  font-family: 'Circular';
  font-weight: 800;
  font-style: normal;
  src: url('fonts/lineto-circular-black.eot');
  src: url('fonts/lineto-circular-black.eot?#iefix') format('embedded-opentype'),
       url('fonts/lineto-circular-black.woff') format('woff'),
       url('fonts/lineto-circular-black.ttf') format('truetype'),
       url('fonts/lineto-circular-black.svg#CircularBlack') format('svg');
}

@font-face {
  font-family: 'Circular';
  font-weight: 800;
  font-style: italic;
  src: url('fonts/lineto-circular-blackitalic.eot');
  src: url('fonts/lineto-circular-blackitalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/lineto-circular-blackitalic.woff') format('woff'),
       url('fonts/lineto-circular-blackitalic.ttf') format('truetype'),
       url('fonts/lineto-circular-blackitalic.svg#CircularBlackItalic') format('svg');
}

@font-face {
  font-family: 'Circular';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/lineto-circular-bold.eot');
  src: url('fonts/lineto-circular-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/lineto-circular-bold.woff') format('woff'),
       url('fonts/lineto-circular-bold.ttf') format('truetype'),
       url('fonts/lineto-circular-bold.svg#CircularBold') format('svg');
}

@font-face {
  font-family: 'Circular';
  font-weight: bold;
  font-style: italic;
  src: url('fonts/lineto-circular-bolditalic.eot');
  src: url('fonts/lineto-circular-bolditalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/lineto-circular-bolditalic.woff') format('woff'),
       url('fonts/lineto-circular-bolditalic.ttf') format('truetype'),
       url('fonts/lineto-circular-bolditalic.svg#CircularBookItalic') format('svg');
}

@font-face {
  font-family: 'Circular';
  font-weight: 500;
  font-style: normal;
  src: url('fonts/lineto-circular-medium.eot');
  src: url('fonts/lineto-circular-medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/lineto-circular-medium.woff') format('woff'),
       url('fonts/lineto-circular-medium.ttf') format('truetype'),
       url('fonts/lineto-circular-medium.svg#CircularMedium') format('svg');
}

@font-face {
  font-family: 'Circular';
  font-weight: 500;
  font-style: italic;
  src: url('fonts/lineto-circular-mediumitalic.eot');
  src: url('fonts/lineto-circular-mediumitalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/lineto-circular-mediumitalic.woff') format('woff'),
       url('fonts/lineto-circular-mediumitalic.ttf') format('truetype'),
       url('fonts/lineto-circular-mediumitalic.svg#CircularMediumItalic') format('svg');
}

@mixin fancyUnderline( $color: currentColor, $bgcolor: #fff ) {
  @include background-image( linear-gradient( to bottom, $bgcolor 50%, $color 50%  ) );
  background-position: 0 89%;
  background-repeat: repeat-x;
  background-size: 2px 3px;
  text-decoration: none;
  // Add white space between underline and descenders
  text-shadow: -2px 0px 0px $bgcolor,
               -1px 0px 0px $bgcolor,
                1px 0px 0px $bgcolor,
                2px 0px 0px $bgcolor;
              }
