// Variables!
$green: #16A085;
$ancillary: #E74C3C;
$gray: #222222;
$gray-alt: lighten(#333333, 10%);
$light-gray: lighten($gray, 25%);
$lighter-gray: lighten($gray, 45%);
$border-gray: lighten($gray, 75%);

// Overrides
$font-size-base: 20px !default;
$brand-primary: $green !default;
$container-desktop: 960px !default;
$container-large-desktop: 960px !default;

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

// Custom Stuff!
@import "typography";

body {
  font-family: "Circular";
  font-weight: normal;
  color: #222222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Header Stuff 
.header {
  text-align: center;


  .navbar-header {
    padding: 0 15px;
  }

  .navbar-toggle {
    height: 55px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    width: 85px;
    right: 10px;
    top: 2px;

    svg {
      height: 100%;

      path {
        fill: $gray-alt;
      }

    }
  }

  .navbar {
    background: none;
    border: 0;
    border-radius: 0;
    padding: .75em 0 0;
    margin-bottom: 0;
    border-bottom: 1px solid $border-gray;
  }

  .navbar-nav {
    display: inline-block;
    width: auto;
  }

  .navbar-nav li {
    display: inline-block;
    float: left;
  }

  .navbar-nav li.active a {
    color: $gray;
  }

  .navbar-nav li a {
    background: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: $lighter-gray;
    @include transition(all, .2s, ease-in-out);
    font-size: .80em;

    &:hover {
      color: $gray;
    }

  }

  .navbar-brand {
    padding: 0;
    height: 60px;
    float: none;
    display: inline-block;

    svg {
      height: 100%;
      width: auto;

      circle {
        fill: $gray-alt;
        @include transition(all, .2s, ease-in-out);
      }
    }

    &:hover {
      svg {
        circle {
          fill: $green;
        }
      }
    }
  }


  @media(min-width: $screen-sm-min) {
    text-align: left;

    .navbar {
      border: 0;
      padding: 1em 0;
    }

    .navbar-header {
      padding: 0;
    }

    .navbar-brand {
      height: 85px;
    }

    .navbar-nav li a {
      line-height: 75px;
      font-size: 1em;
    }
  }

}

.main {
  padding-top: 1em;

  @media(min-width: $screen-sm-min) {
    padding-top: 120px;
  }

  a {
    @include fancyUnderline($green, #FFFFFF);
    @include transition(all, .2s, ease-in-out);

    &:hover {
      color: darken($green, 10%);
    }
  }

}

.asterisk {
  color: $ancillary;
}

.about-me {
  border-bottom: 1px solid $border-gray;
}

.lead {
  margin-bottom: 1em;
}

.footnote {
  padding-top: 20px;
  color: $light-gray;
}