// Variables!
$green: #16A085;
$ancillary: #E74C3C;
$gray: #222222;
$light-gray: lighten($gray, 25%);
$lighter-gray: lighten($gray, 45%);
$border-gray: lighten($gray, 75%);

// Overrides
$font-size-base: 20px !default;
$brand-primary: $green !default;
$container-desktop: 960px !default;
$container-large-desktop: 960px !default;

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Custom Stuff!
@import "typography";

body {
  font-family: "Circular";
  font-weight: normal;
  color: #222222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Header Stuff 
.header {

  .navbar-header {
    padding: 0 15px;
  }

  .navbar-toggle {
    height: 50px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    width: 85px;

    svg {
      height: 100%;

      path {
        fill: $gray;
      }

    }
  }

  .navbar {
    background: none;
    border: 0;
    border-radius: 0;
    padding: 1em 0;
    margin-bottom: 0;
    border-bottom: 1px solid $border-gray;
  }

  .navbar-nav li.active a {
    color: $gray;
  }

  .navbar-nav li a {
    background: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: $lighter-gray;
    @include transition(all, .2s, ease-in-out);

    &:hover {
      color: $gray;
    }

  }

  .navbar-brand {
    padding: 0;

    svg {
      height: 100%;
      width: auto;
    }
  }

  @media(min-width: $screen-sm-min) {

    .navbar {
      border: 0;
    }

    .navbar-header {
      padding: 0;
    }

    .navbar-brand {
      height: 75px;
    }

    .navbar-nav li a {
      line-height: 75px;
    }
  }

}

.main {
  padding-top: 1em;

  @media(min-width: $screen-sm-min) {
    padding-top: 120px;
  }
}

.asterisk {
  color: $ancillary;
}

.about-me {
  border-bottom: 1px solid $border-gray;
}

.lead {
  margin-bottom: 1em;
}

.footnote {
  padding-top: 20px;
  color: $light-gray;
}