@font-face {
  font-family: 'gta';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/GTAmerica-Regular.woff') format('woff');
}

@font-face {
  font-family: 'gta';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/GTAmerica-Medium.woff') format('woff');
}

@font-face {
  font-family: 'gta';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/GTAmerica-Bold.woff') format('woff');
}
