@charset 'utf-8';
@import 'tachyons';
@import 'mixins';
@import 'normalize';
@import 'pswp';
@import 'typography';
$font-family-fallback: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  @include smooth-type;
  background: #0e0e0e;
  font-family: 'gta', $font-family-fallback;
}

.pen {
  pointer-events: none;
}

hr {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.asterisked:before {
  color: gold;
  content: '*';
  position: absolute;
  left: -12px;
  top: 0;
}

.logo svg * {
  fill: white;
}

::selection {
  background: rgba(white, .05);
}

::-moz-selection {
  background: rgba(white, .05);
}

.gta {
  font-family: 'gta', $font-family-fallback;
}

.active {
  color: gold;  
}
