@charset 'utf-8';
@import 'ace';
@import 'mixins';
@import 'normalize';
@import 'pswp';

// $font-family-fallback: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$screen-sm: 40em;
$screen-md: 52em;

body {
  @include smooth-type;
  color: #373737;
  // font-family: 'Space Mono', $font-family-fallback;
}