@charset 'utf-8';
@import 'ace';
@import 'mixins';
@import 'normalize';
@import 'pswp';
@import 'typography';

$font-family-fallback: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$screen-sm: 40em;
$screen-md: 52em;
$pink: #ffa2a2;
$white: #fff;

::selection {
  background: $pink;
}

::-moz-selection {
  background: $pink;
}

.rubik {
  font-family: 'Rubik', $font-family-fallback;
}

.subdued {
  opacity: .25;
}

.border-subdued {
  border-color: rgba($white, .25);
}

.medium,
.bold {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .rubik;
  font-weight: 500;
}

a {
  color: $pink;
}

.logo img {
  height: auto;
  width: 70px;
}

.default-link {
  transition: color .2s ease-out;

  &:hover {
    color: lighten($pink, 3%);
  }
}

nav a {
  color: $white;
  opacity: .5;
  transition: color .2s ease-out, opacity .2s ease-out;

  &:hover,
  &.active {
    opacity: 1;
    color: $pink;
  }
}

.pink {
  color: $pink;
}

.blue {
  color: #b7c1ce;
}

body {
  @include smooth-type;
  background: #2c333d;
  color: white;
  font-family: 'akrt', $font-family-fallback;
  font-size: 16px;

  @media(min-width: $screen-sm) {
    font-size: 17px;
  }
}

.wrap {
  @media(min-width: $screen-sm) {
    min-height: 100vh;
  }
}

.asterisked {
  &:before {
    content: '*';
    position: absolute;
    left: -12px;
    top: 0;
  }
}

.gallery-link {
  cursor: pointer;
}

.pen {
  pointer-events: none;
}

.arrow-link-title{
  position: relative;

  &:after {
    background-image: url('../images/arrow-right.svg');
    background-position: center center;
    background-size: cover;
    color: $white;
    content: '';
    display: inline-block;
    height: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .2s ease-out;
    width: 20px;
  }
}

.arrow-link:hover,
.arrow-link:focus {

  .arrow-link-title:after {
    opacity: .75;
    right: -30px;
  }
}

.gallery-button {
  backface-visibility: hidden;
  transition: background .2s ease-out, border .2s ease-out, transform .2s ease-out;

  &:hover {
    background: rgba($pink, .025);
    border-color: $pink;
    transform: translateY(-5px);
  }
}
