<footer class="pa3 white">
  <div class="mw8 center">
    <div class="flex">
      <ul class="list pl0 mr3">
      	<li class="mb2">
      		<a class="link color-inherit dim" href="https://www.linkedin.com/in/mrothenberg" target="_blank">LinkedIn</a>
      	</li>
      	<li class="mb2">
      		<a class="link color-inherit dim" href="https://github.com/mattrothenberg" target="_blank">GitHub</a>
      	</li>
      	<li class="mb2">
      		<a class="link color-inherit dim" href="https://twitter.com/mattrothenberg" target="_blank">Twitter</a>
      	</li>
      </ul>
      <ul class="list pl0">
      	<li class="mb2">
      		<a class="link color-inherit dim" href="https://codepen.io/mattrothenberg" target="_blank">CodePen</a>
      	</li>
        <li class="mb2">
          <a class="link color-inherit dim" href="https://medium.com/@mattrothenberg" target="_blank">Medium</a>
        </li>
      	<li class="mb2">
      		<a class="link color-inherit dim" href="mailto:hello@mattrothenberg.com">Email</a>
      	</li>
      </ul>
    </div>
  </div>
</footer>
