<footer class="py3 sm-mt3">
  <div class="px2">
  	<div class="max-width-4 mx-auto">
  		<div class="clearfix">
  			<div class="col col-12">
  				<ul class="list-reset inline-block my0 mr3">
  					<li class="block">
  						<a class="text-decoration-none" href="#">LinkedIn</a>
  					</li>
  					<li class="block">
  						<a class="text-decoration-none" href="#">GitHub</a>
  					</li>
  					<li class="block">
  						<a class="text-decoration-none" href="#">Twitter</a>
  					</li>
  				</ul>
  				<ul class="list-reset inline-block my0 align-top">
  					<li class="block">
  						<a class="text-decoration-none" href="#">CodePen</a>
  					</li>
  					<li class="block">
  						<a class="text-decoration-none" href="#">Email</a>
  					</li>
  				</ul>
  			</div>
  		</div>
  	</div>
	</div>
</footer>