<header>
  <div class="pa3 pv4">
    <div class="mw8 center">
      <div class="flex-l justify-between">
        <figure class="logo w3 ma0">
          <a href="/" class="dim"><%= partial 'images/m-logo.svg' %></a>
        </figure>
        <nav class="flex f5 f4-l">
          <a class="<%= active_class('resume.html') %> white dim no-underline mr3 mr0-l pa3-l db" href="/resume">Resume</a>
          <a class="<%= active_class('work.html') %> white dim no-underline mr3 mr0-l pa3-l db" href="/work">Work</a>
          <a class="<%= active_class('writing.html') %> white dim no-underline mr3 mr0-l pa3-l db" href="/writing">Writing</a>
        </nav>
      </div>
    </div>
  </div>
</header>
