<header class="py3">
  <div class="px2">
    <div class="max-width-4 mx-auto">
      <div class="clearfix sm-flex items-center">
        <div class="col col-12 sm-col-3">
          <h1 class="h3 m0">Matt Rothenberg</h1>
        </div>
        <div class="col col-12 sm-col-9">
          <nav>
            <%= link_to 'About', '/index.html', class: 'inline-block text-decoration-none mr1 sm-mr2' %>
            <%= link_to 'Resume', '/resume.html', class: 'inline-block text-decoration-none mr1 sm-mr2' %>
            <%= link_to 'Work', '/work.html', class: 'inline-block text-decoration-none' %>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>