<header class="py3">
  <div class="px2">
    <div class="max-width-4 mx-auto">
      <div class="clearfix sm-flex items-center">
        <div class="col col-12 sm-col-3">
          <h1 class="h3 m0">Matt Rothenberg</h1>
        </div>
        <div class="col col-12 sm-col-9">
          <nav>
            <a class="<%= active_class('index.html') %> inline-block rubik text-decoration-none mr1 sm-mr2" href="index.html">About</a>
            <a class="<%= active_class('resume.html') %> inline-block rubik text-decoration-none mr1 sm-mr2" href="resume.html">Resume</a>
            <a class="<%= active_class('work.html') %> inline-block rubik text-decoration-none mr1 sm-mr2" href="work.html">Work</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>