---
title: Welcome to Middleman
---

<div class="px2">
	<div class="max-width-4 mx-auto">
		<div class="clearfix">
			<div class="col col-12 sm-col-8">
				<h1 class="h2 regular">I'm a Product Designer at <a href="https://pivotal.io/platform" target="_blank">Pivotal Cloud Foundry</a>. I speak French, hack on <a href="https://github.com/mattrothenberg" target="_blank">open source projects</a>, and send the occasional <a href="https://twitter.com/mattrothenberg" target="_blank">tweet</a>.</h1>
			</div>
		</div>
	</div>
</div>