---
title: Matt Rothenberg | About
---

<div class="px2">
	<div class="max-width-4 mx-auto">
		<div class="sm-pt4 sm-pb3">
			<div class="clearfix">
				<div class="col col-12 sm-col-7">
					<h1 class="regular h2 sm-h1">Product Designer at <a class="text-decoration-none default-link" href="https://pivotal.io/platform" target="_blank">Pivotal</a> and Founder of <a class="text-decoration-none default-link" href="https://runwayapp.io/" target="_blank">Runway App</a>.</h1>
					<h1 class="regular h2 sm-h1">I also maintain an open source <a class="text-decoration-none default-link" href="https://mattrothenberg.github.io/prototyping-playbook/" target="_blank">Prototyping Playbook</a> and write the occasional <a class="text-decoration-none default-link" href="https://medium.com/@mattrothenberg" target="_blank">Medium</a> post.</h1></h1>
				</div>
			</div>
		</div>
	</div>
</div>
