---
title: Matt Rothenberg | About
---

<div class="ph3 white">
	<div class="mw8 center">
		<div class="f4 f3-l">
			<p class="lh-copy">Matt Rothenberg is a New York-based<br class="dn db-l"/> Product Designer, Founder, and Serial Tinkerer</p>
			<p class="lh-copy">You may know him from such hits as:</p>
			<ul class="list pl0">
				<li class="mb3"><a href="//runwayapp.io" target="_blank" class="link dim white fw6">Runway App</a></li>
				<li class="mb3"><a href="//mattrothenberg.github.io/prototyping-playbook/" target="_blank" class="link dim white fw6">Prototyping Playbook</a></li>
				<li class="mb3"><a href="//2by2.io" target="_blank" class="link dim white fw6">2by2.io</a></li>
				<li class="mb3"><a href="//medium.freecodecamp.com/vue-js-introduction-for-people-who-know-just-enough-jquery-to-get-by-eab5aa193d77?gi=6576b6e48f93" target="_blank" class="link dim white fw6">That Popular Medium Post on Vue.js</a></li>
			</ul>
		</div>
	</div>
</div>
