---
title: Matt Rothenberg | Resume
---
<div class="ph3 white">
	<div class="mw8 center">
		<header>
			<h4 class="ttu tracked o-50 mb2">About</h4>
			<h1 class="f3 f2-l fw4 w-100 w-80-l mt0 lh-title">Hybrid / jack-of-all-trades, looking to apply a passion for user-centered product design and development</h1>
		</header>
		<section>
			<div class="flex flex-wrap">
				<div class="w-100 w-25-l">
					<h4 class="ttu tracked o-50 mb2">Experience</h4>
				</div>
				<div class="w-100 w-75-l">
					<article class="mb4">
						<h2 class="mb2 f4 f3-l">Runway App</h2>
						<p class="f4 mt0 o-50">New York, NY / 2016 &mdash; Present</p>
						<h3 class="mb2 f4 yellow fw5">Founder &amp; Chief Tinkering Officer</h3>
						<div class="f4">
							<p class="lh-copy mt0">A (side-project) web-app that offers Designers and Developers "Living Styleguides as a Service." Runway App helps users create, deploy and maintain living styleguides via a web-based GUI</p>
						</div>
					</article>
					<article class="mb4">
						<h2 class="mb2 f4 f3-l">Catalyst</h2>
						<p class="f4 mt0 o-50">New York, NY / 2017 &emdash;</p>
						<h3 class="mb2 f4 yellow fw5">Design Lead</h3>
						<div class="f4">
							<p class="lh-copy mt0">
								Running the design practice at an early stage startup in the Customer Success Management space. Responsible for the creation and ongoing maintenance of a hand-rolled, Javascript-based design system. Manager of one direct report.
							</p>
						</div>
					</article>
					<article class="mb4">
						<h2 class="mb2 f4 f3-l">Pivotal Labs &amp; Cloud Foundry</h2>
						<p class="f4 mt0 o-50">New York, NY / 2014 &mdash; 2017</p>
						<h3 class="mb2 f4 yellow fw5">Senior Product Designer</h3>
						<div class="f4">
							<p class="lh-copy mt0">User-centered design, Balanced product teams, Agile software engineering.</p>
							<p class="lh-copy">Consulting teams big and small on lean and agile product principles. Worked to demystify design and increase its voice in an integrated product team, championing for small, iterative choices, thoughtful decisions over shiny deliverables, and front-end prototyping / living style guides.</p>
							<p class="lh-copy">Coaching clients on balanced team, a methodology that encourages team ownership of product decisions, multi-discipline collaboration, and a sharp focus on the continuous delivery of user-value.</p>
						</div>
					</article>
					<article class="mb4">
						<h2 class="mb2 f4 f3-l">Jet A Studio</h2>
						<p class="f4 mt0 o-50">Louisville, KY / 2013 &mdash; 2014</p>
						<h3 class="mb2 f4 yellow fw5">Interactive Designer</h3>
						<div class="f4">
							<p class="lh-copy mt0">Lead designer, responsible for research, design, and development of client websites and native web applications. Front End Development utilizing HTML, SCSS, JavaScript, and PHP.</p>
						</div>
					</article>
					<article class="mb4">
						<h2 class="mb2 f4 f3-l">Freelance Designer &amp; Developer</h2>
						<p class="f4 mt0 o-50">2008 &mdash; Present</p>
						<h3 class="mb2 f4 yellow fw5">All The Things</h3>
						<div class="f4">
							<p class="lh-copy mt0">I want to help you design and build your website, application, or digital product.</p>
						</div>
					</article>
				</div>
			</div>
		</section>
		<section>
			<div class="flex flex-wrap">
				<div class="w-100 w-25-l">
					<h4 class="ttu tracked o-50 mb2">Education</h4>
				</div>
				<div class="w-100 w-75-l">
					<article class="mb4">
						<h2 class="mb2 f4 f3-l">Skidmore College</h2>
						<p class="f4 mt0 o-50">Saratoga Springs, NY / 2008 &mdash; 2011</p>
						<h3 class="mb2 f4 yellow fw5">BA, Government &amp; French</h3>
						<div class="f4">
							<p class="lh-copy mt0">Summa cum laude; Early Graduate; Departmental and Highest College Honors</p>
						</div>
					</article>
				</div>
			</div>
		</section>
		<section>
			<div class="flex flex-wrap">
				<div class="w-100 w-25-l">
					<h4 class="ttu tracked o-50 mb2">Competencies</h4>
				</div>
				<div class="w-100 w-75-l">
					<article class="mb4">
						<h2 class="mb2 f4 f3-l">Research</h2>
						<div class="f4 measure">
							<p class="lh-copy mt0">Generative &amp; Exploratory (Personas, Empathy Mapping, Contextual Inquiry, Lean Canvas, User Journey Mapping), Usability Testing</p>
						</div>
					</article>
					<article class="mb4">
						<h2 class="mb2 f4 f3-l">Prototyping</h2>
						<div class="f4 measure">
							<p class="lh-copy mt0">Front-end, FramerJS, InVision, Axure, [ insert tool here ]</p>
						</div>
					</article>
					<article class="mb4">
						<h2 class="mb2 f4 f3-l">Web Development</h2>
						<div class="f4 measure">
							<p class="lh-copy mt0">HTML, Sass, Javascript (Vue, Angular, React), Rails, Wordpress</p>
						</div>
					</article>
					<article class="mb4">
						<h2 class="mb2 f4 f3-l">Visual Design</h2>
						<div class="f4 measure">
							<p class="lh-copy mt0">Visual Design: Sketch, Affinity Designer, Adobe Creative Suite, Cinema 4D</p>
						</div>
					</article>
					<article class="mb4">
						<h2 class="mb2 f4 f3-l">Programming</h2>
						<div class="f4 measure">
							<p class="lh-copy mt0">Python, Java, Golang, Bash, Ruby</p>
						</div>
					</article>
				</div>
			</div>
		</section>
	</div>
</div>
