<div class="px2">
	<div class="max-width-4 mx-auto">
		<div class="clearfix mb3">
			<div class="col col-12 sm-col-8">
				<h1 class="h2 regular">I'm a proud jack-of-all-trades, looking to apply my passion for user-centered product design and development.</h1>
			</div>
		</div>
		<div class="clearfix mb2">
			<div class="col col-12 sm-col-3 sm-right-align mb2 sm-mb0 sm-pr3">
				<h2 class="h4 m0">Experience</h2>
			</div>
			<div class="col col-12 sm-col-9">
				<div class="mb2">
					<h3 class="m0">Pivotal Cloud Foundry</h3>
					<p class="m0 muted mb0">New York, NY / 2016 - present</p>
					<!-- <p>Senior Product Designer</p> -->
					<p>Transition to Pivotal Cloud Foundry</p>
				</div>
				<div class="mb2">
					<h3 class="m0">Pivotal Labs</h3>
					<p class="m0 muted mb0">New York, NY / 2014 - 2016</p>
					<!-- <p>Product Designer &amp; Full Stack Developer </p> -->
					<p>User-centered design, Balanced product teams, Agile software engineering.</p>
					<p>Consulting clients big and small on lean and agile product principles. I'm eager to demystify design and increase its voice in an integrated product team, championing for small, iterative choices, thoughtful decisions over shiny deliverables, and front-end prototyping / living style guides.</p>
					<p>Coaching clients on balanced team, a methodology that encourages team ownership of product decisions, multi-discipline collaboration, and a sharp focus on the continuous delivery of user-value.</p>
				</div>
				<div class="mb2">
					<h3 class="m0">Jet A Studio</h3>
					<p class="m0 muted mb0">Louisville, KY / 2013 - 2014</p>
					<!-- <p>Product Designer &amp; Full Stack Developer </p> -->
					<p>Lead designer, responsible for research, design, and development of client websites and native web applications. Front End Development utilizing HTML, SCSS, JavaScript, and PHP.</p>
				</div>
				<div class="mb0">
					<h3 class="m0">Freelance Designer &amp; Developer</h3>
					<p class="m0 muted mb0">2008 - Present</p>
					<!-- <p>Product Designer &amp; Full Stack Developer </p> -->
					<p>I want to help you design and build your website, application, or digital product.</p>
				</div>
			</div>
		</div>
		<div class="clearfix mb2">
			<div class="col col-12 sm-col-3 sm-right-align mb2 sm-mb0 sm-pr3">
				<h2 class="h4 m0">Competencies</h2>
			</div>
			<div class="col col-12 sm-col-9">
				<p class="mt0 mb1"><strong>Research</strong>: Personas, Empathy Mapping, Contextual Inquiry, Lean Canvas, User Journey Mapping</p>
				<p class="mt0 mb1"><strong>Prototyping</strong>: FramerJS, InVision, Axure, Front-End</p>
				<p class="mt0 mb1"><strong>Development</strong>: HTML/CSS, Javascript (Angular, React), Rails, Wordpress</p>
				<p class="mt0 mb1"><strong>Visual Design</strong>: Sketch, Affinity Designer, Adobe Creative Suite, Cinema 4D</p>
				<p class="mt0 mb1"><strong>Programming</strong>: Python, Java, Golang, Bash, Ruby</p>
			</div>
		</div>
		<div class="clearfix">
			<div class="col col-12 sm-col-3 sm-right-align mb2 sm-mb0 sm-pr3">
				<h2 class="h4 m0">Education</h2>
			</div>
			<div class="col col-12 sm-col-9">
				<div class="mb0">
					<h3 class="m0">Skidmore College</h3>
					<p class="m0 muted mb0">Saratoga Springs, NY / 2008 - 2011</p>
					<p>BA in Government &amp; French</p>
					<p>Summa cum laude; Early Graduate; Departmental and Highest College Honors</p>
				</div>
			</div>
		</div>
	</div>
</div>