<div class="px2">
	<div class="max-width-4 mx-auto">
		<div class="clearfix mb3">
			<div class="col col-12 sm-col-8">
				<h1 class="h2 regular">A collection of my most memorable work. Please reach out if you're interested in learning more about a particular project.</h1>
			</div>
		</div>
		<h2 class="h3 mt0 regular mb2 sm-mb0">Open Source</h2>
		<hr class="border-white subdued mt1 mb3 xs-hide">
		<div class="clearfix mb3 sm-mb4">
			<div class="col col-12 sm-col-4 sm-pr2">
				<a class="text-decoration-none block" href="http://acme-styleguide.cfapps.io/" target="_blank">
					<h3 class="mt0 mb1">
						Acme Styleguide
					</h3>
				</a>
				<p class="m0">A living, front-end styleguide boilerplate, designed to help Designers express their decisions through the language of HTML/Sass. Powered by Hologram</p>
				<hr class="border-white subdued sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4 sm-pr2">
				<a class="text-decoration-none block" href="https://github.com/davwards/valchemy" target="_blank">
					<h3 class="mt0 mb1">
						Valchemy
					</h3>
				</a>
				<p class="m0">Presentation and framework agnostic validation engine in Javascript, designed to demonstrate functional programming concepts through real-world use cases</p>
				<hr class="border-white subdued sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4">
				<a class="text-decoration-none block" href="http://codepen.io/mattrothenberg/" target="_blank">
					<h3 class="mt0 mb1">
						UI Experiments
					</h3>
				</a>
				<p class="m0">An assortment of various UI elements, interaction design treatments and concepts. Powered by CodePen</p>
			</div>
		</div>
		<h2 class="h3 mt0 regular mb2 sm-mb0">Product Design, Development, &amp; Prototyping *</h2>
		<hr class="border-white subdued mt1 mb1 xs-hide">
		<h3 class="h4 regular mt0 mb3 pink asterisked relative col-12 sm-col-10">Most of my Product (UI/UX) work is under NDA, but I would love to talk to you about my deep experience in: Generative User Research, Protoyping, and Living Style Guides &amp; Design Systems</h3>
		<div class="clearfix sm-mb3">
			<div class="col col-12 sm-col-4 sm-pr2">
				<a class="text-decoration-none block" href="http://objectobject.2016.rubyrampage.com/" target="_blank">
					<h3 class="mt0 mb1">
						Roller
					</h3>
				</a>
				<p class="m0">Have you ever found yourself wishing you could create a GIF of a short clip from a YouTube video? A toy app made for RubyRampage 2016</p>
				<hr class="border-white subdued sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4 sm-pr2">
				<a class="text-decoration-none block" href="http://www.turdswfriends.com/" target="_blank">
					<h3 class="mt0 mb1">
						Turds with Friends
					</h3>
				</a>
				<p class="m0">A mobile web game designed to destigmatize pooping, one cute poop emoji at a time</p>
				<hr class="border-white subdued sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4">
				<a class="text-decoration-none block" href="http://codepen.io/mattrothenberg/full/XdzPXK/" target="_blank">
					<h3 class="mt0 mb1">
						TSA Randomizer App
					</h3>
				</a>
				<p class="m0">An attempt to recreate the infamous (and expensive) TSA Randomizer app, all in ~30 lines of Javascript</p>
				<hr class="border-white subdued sm-hide md-hide lg-hide my2">
			</div>
		</div>
		<div class="clearfix mb3 sm-mb3">
			<div class="col col-12 sm-col-4 sm-pr2">
				<a class="text-decoration-none block" href="http://codepen.io/mattrothenberg/full/ZWxwJO/" target="_blank">
					<h3 class="mt0 mb1">
						Concourse CI
					</h3>
				</a>
				<p class="m0">A front-end prototype of Concourse CI's "job detail" view</p>
				<hr class="border-white subdued sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4 sm-pr2">
				<a class="text-decoration-none block" href="http://spotifyclone.cfapps.io/" target="_blank">
					<h3 class="mt0 mb1">
						Spotify iOS
					</h3>
				</a>
				<p class="m0">A rapid, front-end prototype of Spotify's iOS app, capturing several high-level interaction design details</p>
				<hr class="border-white subdued sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4">
				<a class="text-decoration-none block" href="http://inboxclone.cfapps.io/" target="_blank">
					<h3 class="mt0 mb1">
						Google Inbox iOS
					</h3>
				</a>
				<p class="m0">A rapid, front-end prototype of Google's Inbox iOS app, capturing several high-level interaction design details</p>
			</div>
		</div>
		<h2 class="h3 mt0 regular mb2 sm-mb0">Front-End Development</h2>
		<hr class="border-white subdued mt1 mb3 xs-hide">
		<div class="clearfix sm-mb3">
			<div class="col col-12 sm-col-4 sm-pr2">
				<a class="text-decoration-none block" href="http://x.ai" target="_blank">
					<h3 class="mt0 mb1">
						x.ai
					</h3>
				</a>
				<p class="m0">Design and development for x.ai, a company that builds and maintains an artificial intelligence powered personal assistant</p>
				<hr class="border-white subdued sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4 sm-pr2">
				<a class="text-decoration-none block" href="http://rubiconmd.com" target="_blank">
					<h3 class="mt0 mb1">
						RubiconMD
					</h3>
				</a>
				<p class="m0">Design and development for RubiconMD, an eConsults platform that connects providers to top specialists</p>
				<hr class="border-white subdued sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4">
				<a class="text-decoration-none block" href="http://baxtingui.com" target="_blank">
					<h3 class="mt0 mb1">
						Baxt Ingui
					</h3>
				</a>
				<p class="m0">Design and development for Baxt Ingui, a general-practice architectural and design firm in New York City with extensive experience in residential and commercial renovation projects</p>
				<hr class="border-white subdued sm-hide md-hide lg-hide my2">
			</div>
		</div>
		<div class="clearfix mb3">
			<div class="col col-12 sm-col-4 sm-pr2">
				<a class="text-decoration-none block" href="http://dirksabindesign.com/" target="_blank">
					<h3 class="mt0 mb1">
						Sabin Landscape Architects
					</h3>
				</a>
				<p class="m0">Design and development for Sabin Landscape Architects, a business that provides comprehensive service toward the development of sustainable landscapes in Residential and Commercial settings</p>
				<hr class="border-white subdued sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4 sm-pr2">
				<a class="text-decoration-none block" href="http://devprogress.us/" target="_blank">
					<h3 class="mt0 mb1">
						DevProgress
					</h3>
				</a>
				<p class="m0">Design and development work for DevProgress, a community of technology volunteers who want to make sure that progressive candidates are on the winning side of the 2016 election cycle</p>
				<hr class="border-white subdued sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4 sm-pr2">
				<a class="text-decoration-none block" href="http://autolean.com/" target="_blank">
					<h3 class="mt0 mb1">
						AutoLean
					</h3>
				</a>
				<p class="m0">Design and development for AutoLean, a Louisville, KY business that provides automation software and lean manufacturing assistance</p>
			</div>
		</div>
		<h2 class="h3 mb3">Visual Design</h2>
		<div class="clearfix mb3">
			<div class="col col-12 sm-col-4 sm-pr2">
				<img src="images/icons/reorder.jpeg" alt="">
				<hr class="sm-hide md-hide lg-hide my2">
			</div>
		</div>
	</div>
</div>
<%= partial 'photoswipe' %>