---
title: Matt Rothenberg | Work
---

<div class="px2">
  <div class="max-width-4 mx-auto">
    <header class="clearfix mb3">
      <div class="col col-12 sm-col-8">
        <h1 class="h2 regular">A collection of my favorite work. Please reach out if you're interested in learning more about a particular project.</h1>
      </div>
    </header>
    <section class="mb3 sm-mb4">
      <h2 class="h3 mt0 regular mb2 sm-mb0">Product Design, Development, &amp; Prototyping *</h2>
      <hr class="border-white subdued mt1 mb1 xs-hide">
      <h3 class="h4 regular mt0 mb3 pink asterisked relative col-12 sm-col-10">Most of my Product (UI/UX) work is under NDA, but I would love to talk to you about my deep experience in: Generative User Research, Design Thinking, and Living Style Guides &amp; Design Systems</h3>
      <div class="clearfix sm-mb3">
        <div class="col col-12 sm-col-4 sm-pr2">
          <a class="text-decoration-none block arrow-link" href="https://runwayapp.io/" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              Runway App
            </h3>
          </a>
          <p class="m0">Go from stylesheet to styleguide, instantly. Runway offers a web UI by which Designers can build and deploy beautiful styleguides.</p>
          <hr class="border-white subdued sm-hide md-hide lg-hide my2">
        </div>
        <div class="col col-12 sm-col-4 sm-pr2">
          <a class="text-decoration-none block arrow-link" href="http://www.turdswfriends.com/" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              Turds with Friends
            </h3>
          </a>
          <p class="m0">A mobile web game designed to destigmatize pooping, one cute poop emoji at a time</p>
          <hr class="border-white subdued sm-hide md-hide lg-hide my2">
        </div>
        <div class="col col-12 sm-col-4">
          <a class="text-decoration-none block arrow-link" href="http://codepen.io/mattrothenberg/" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              UI Experiments
            </h3>
          </a>
          <p class="m0">An assortment of various UI elements, interaction design treatments and concepts. Powered by CodePen</p>
          <hr class="border-white subdued sm-hide md-hide lg-hide my2">
        </div>
      </div>
      <div class="clearfix">
        <div class="col col-12 sm-col-4 sm-pr2">
          <a class="text-decoration-none block arrow-link" href="http://codepen.io/mattrothenberg/full/ZWxwJO/" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              Concourse CI
            </h3>
          </a>
          <p class="m0">A front-end prototype of Concourse CI's "job detail" view</p>
          <hr class="border-white subdued sm-hide md-hide lg-hide my2">
        </div>
        <div class="col col-12 sm-col-4 sm-pr2">
          <a class="text-decoration-none block arrow-link" href="http://spotifyclone.cfapps.io/" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              Spotify iOS
            </h3>
          </a>
          <p class="m0">A rapid, front-end prototype of Spotify's iOS app, capturing several high-level interaction design details</p>
          <hr class="border-white subdued sm-hide md-hide lg-hide my2">
        </div>
        <div class="col col-12 sm-col-4">
          <a class="text-decoration-none block arrow-link" href="http://inboxclone.cfapps.io/" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              Google Inbox iOS
            </h3>
          </a>
          <p class="m0">A rapid, front-end prototype of Google's Inbox iOS app, capturing several high-level interaction design details</p>
        </div>
      </div>
    </section>
    <section class="mb3 sm-mb4">
      <h2 class="h3 mt0 regular mb2 sm-mb0">Open Source</h2>
      <hr class="border-white subdued mt1 mb3 xs-hide">
      <div class="clearfix sm-mb3">
        <div class="col col-12 sm-col-4 sm-pr2">
          <a class="text-decoration-none block arrow-link" href="http://acme-styleguide.cfapps.io/" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              Acme Styleguide
            </h3>
          </a>
          <p class="m0">A front-end styleguide boilerplate, designed to help Designers express their decisions through the language of HTML/Sass. Powered by Hologram</p>
          <hr class="border-white subdued sm-hide md-hide lg-hide my2">
        </div>
        <div class="col col-12 sm-col-4 sm-pr2">
          <a class="text-decoration-none block arrow-link" href="https://github.com/davwards/valchemy" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              Valchemy
            </h3>
          </a>
          <p class="m0">Presentation and framework agnostic validation engine in Javascript, designed to demonstrate functional programming concepts through real-world use cases</p>
          <hr class="border-white subdued sm-hide md-hide lg-hide my2">
        </div>
      </div>
    </section>
    <section class="mb3 sm-mb4">
      <h2 class="h3 mt0 regular mb2 sm-mb0">Front-End Development</h2>
      <hr class="border-white subdued mt1 mb3 xs-hide">
      <div class="clearfix sm-mb3">
        <div class="col col-12 sm-col-4 sm-pr2">
          <a class="text-decoration-none block arrow-link" href="http://steeltoe.io" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              Steeltoe.io
            </h3>
          </a>
          <p class="m0">A set of tools that bring the power of scalable microservices to .NET developers</p>
          <hr class="border-white subdued sm-hide md-hide lg-hide my2">
        </div>
        <div class="col col-12 sm-col-4 sm-pr2">
          <a class="text-decoration-none block arrow-link" href="http://x.ai" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              x.ai
            </h3>
          </a>
          <p class="m0">A company that builds and maintains an artificial intelligence powered personal assistant</p>
          <hr class="border-white subdued sm-hide md-hide lg-hide my2">
        </div>
        <div class="col col-12 sm-col-4 sm-pr2">
          <a class="text-decoration-none block arrow-link" href="http://rubiconmd.com" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              RubiconMD
            </h3>
          </a>
          <p class="m0">An eConsults platform that connects providers to top specialists</p>
          <hr class="border-white subdued sm-hide md-hide lg-hide my2">
        </div>
      </div>
      <div class="clearfix sm-mb3">
        <div class="col col-12 sm-col-4 sm-pr2">
          <a class="text-decoration-none block arrow-link" href="http://baxtingui.com" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              Baxt Ingui
            </h3>
          </a>
          <p class="m0">A general-practice architectural and design firm in New York City with experience in residential and commercial renovation projects</p>
          <hr class="border-white subdued sm-hide md-hide lg-hide my2">
        </div>
        <div class="col col-12 sm-col-4 sm-pr2">
          <a class="text-decoration-none block arrow-link" href="https://silviaterra.com" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              SilviaTerra
            </h3>
          </a>
          <p class="m0">A team of foresters, biometricians, and programmers dedicated to expanding our understanding of forests</p>
          <hr class="border-white subdued sm-hide md-hide lg-hide my2">
        </div>
        <div class="col col-12 sm-col-4 sm-pr2">
          <a class="text-decoration-none block arrow-link" href="http://devprogress.us/" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              DevProgress
            </h3>
          </a>
          <p class="m0">A community of technology volunteers who want to make sure that progressive candidates are on the winning side of elections</p>
          <hr class="border-white subdued sm-hide md-hide lg-hide my2">
        </div>
      </div>
      <div class="clearfix">
        <div class="col col-12 sm-col-4 sm-pr2">
          <a class="text-decoration-none block arrow-link" href="http://autolean.com/" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              AutoLean
            </h3>
          </a>
          <p class="m0">A Louisville, KY business that provides automation software and lean manufacturing assistance</p>
          <hr class="border-white subdued sm-hide md-hide lg-hide my2">
        </div>
        <div class="col col-12 sm-col-4 sm-pr2">
          <a class="text-decoration-none block arrow-link" href="http://dirksabindesign.com/" target="_blank">
            <h3 class="mt0 mb1 inline-block arrow-link-title">
              Sabin Landscape Architects
            </h3>
          </a>
          <p class="m0">A firm that contributes toward the development of sustainable landscapes in Residential and Commercial settings</p>
        </div>
      </div>
    </section>
    <section>
      <h2 class="h3 mt0 regular mb2 sm-mb0">Visual Design</h2>
      <hr class="border-white subdued mt1 mb3 xs-hide">
      <div class="flex flex-wrap mb3">
        <div class="col-12 sm-col-6 sm-pr2 flex mb2">
          <div class="p2 border border-subdued mb2 sm-mb0 gallery-button col-12">
            <a class="text-decoration-none block gallery-link" data-gallery="animation">
              <h5 class="caps pen mt0 mb1 regular pink muted h6">Image Gallery</h5>
              <h3 class="mt0 mb1 pen">
                Animation
              </h3>
              <p class="m0 white pen">An assortment of Javascript animations</p>
            </a>
          </div>
        </div>
        <div class="col-12 sm-col-6 sm-pr2 flex mb2">
          <div class="p2 border border-subdued mb2 sm-mb0 gallery-button col-12">
            <a class="text-decoration-none block gallery-link" data-gallery="autolean">
              <h5 class="caps pen mt0 mb1 regular pink muted h6">Image Gallery</h5>
              <h3 class="mt0 mb1 pen">
                AutoLean Iconography
              </h3>
              <p class="m0 white pen">An assortment of iOS App Icons for AutoLean</p>
            </a>
          </div>
        </div>
        <div class="col-12 sm-col-6 sm-pr2 flex mb2">
          <div class="p2 border border-subdued mb2 sm-mb0 gallery-button col-12">
            <a class="text-decoration-none block gallery-link" data-gallery="logos">
              <h5 class="caps pen mt0 mb1 regular pink muted h6">Image Gallery</h5>
              <h3 class="mt0 mb1 pen">
                Logo Design
              </h3>
              <p class="m0 white pen">An assortment of logos from over the years</p>
            </a>
          </div>
        </div>
        <div class="col-12 sm-col-6 sm-pr2 flex mb2">
          <div class="p2 border border-subdued mb2 sm-mb0 gallery-button col-12">
            <a class="text-decoration-none block gallery-link" data-gallery="abstract">
              <h5 class="caps pen mt0 mb1 regular pink muted h6">Image Gallery</h5>
              <h3 class="mt0 mb1 pen">
                Abstract Art
              </h3>
              <p class="m0 white pen">Abstract pieces made in Cinema4D and 3D Studio Max</p>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script type="text/javascript" src="../javascripts/gallery.js"></script>
<%= partial 'photoswipe' %>
