<div class="px2">
	<div class="max-width-4 mx-auto">
		<!-- <div class="clearfix mb3">
			<div class="col col-12 sm-col-9">
				<h1 class="h2 regular">Open Source / Product / Front-End / Visual Design</h1>
			</div>
		</div> -->
		<h2 class="h3 mb3">Open Source Work</h2>
		<div class="clearfix mb4">
			<div class="col col-12 sm-col-4 sm-pr2">
				<h3 class="mt0 mb1">Acme Styleguide</h3>
				<p class="m0">A living, front-end styleguide boilerplate, designed to help Designers express their decisions through the language of HTML/Sass. Powered by Hologram</p>
				<hr class="sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4 sm-pr2">
				<h3 class="mt0 mb1">Valchemy</h3>
				<p class="m0">Presentation and framework agnostic validation engine in javascript, designed to demonstrate functional programming concepts through real-world use cases</p>
				<hr class="sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4">
				<h3 class="mt0 mb1">UI Experiments</h3>
				<p class="m0">An assortment of various UI elements, interaction design treatments and concepts. Powered by CodePen</p>
			</div>
		</div>
		<h2 class="h3 my0">Product Design, Development, &amp; Prototyping</h2>
		<h4 class="h4 regular mt1 mb3 sm-col-9">
			 <blockquote class="mt0 regular">
			 	Most of my work is under NDA, but I would love to talk to you about my experience in: User Research, Protoyping, Living Style Guides, and Full Stack Development
			 </blockquote>
		</h4>
		<div class="clearfix sm-mb3">
			<div class="col col-12 sm-col-4 sm-pr2">
				<h3 class="mt0 mb1">Roller</h3>
				<p class="m0">Have you ever found yourself wishing you could create a GIF of a short clip from a YouTube video? A toy app made for RubyRampage 2016</p>
				<hr class="sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4 sm-pr2">
				<h3 class="mt0 mb1">Turds with Friends</h3>
				<p class="m0">A mobile web game designed to destigmatize pooping, one cute poop emoji at a time</p>
				<hr class="sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4">
				<h3 class="mt0 mb1">TSA Randomizer App</h3>
				<p class="m0">An attempt to recreate the infamous (and expensive) TSA Randomizer app, all in ~30 lines of Javascript</p>
				<hr class="sm-hide md-hide lg-hide my2">
			</div>
		</div>
		<div class="clearfix mb4">
			<div class="col col-12 sm-col-4 sm-pr2">
				<h3 class="mt0 mb1">Concourse CI</h3>
				<p class="m0">A front-end prototype of Concourse CI's "job detail" view</p>
				<hr class="sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4 sm-pr2">
				<h3 class="mt0 mb1">Spotify iOS</h3>
				<p class="m0">A rapid, front-end prototype of Spotify's iOS app, capturing several high-level interaction design details</p>
				<hr class="sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4">
				<h3 class="mt0 mb1">Google Inbox iOS</h3>
				<p class="m0">A rapid, front-end prototype of Google's Inbox iOS app, capturing several high-level interaction design details</p>
			</div>
		</div>
		<h2 class="h3 mb3">Front-End Development</h2>
		<div class="clearfix sm-mb3">
			<div class="col col-12 sm-col-4 sm-pr2">
				<h3 class="mt0 mb1">x.ai</h3>
				<p class="m0">Design and development for x.ai, a company that builds and maintains an artificial intelligence powered personal assistant</p>
				<hr class="sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4 sm-pr2">
				<h3 class="mt0 mb1">RubiconMD</h3>
				<p class="m0">Design and development for RubiconMD, an eConsults platform that connects providers to top specialists</p>
				<hr class="sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4">
				<h3 class="mt0 mb1">Baxt Ingui</h3>
				<p class="m0">Design and development for Baxt Ingui, a general-practice architectural and design firm in New York City with extensive experience in residential and commercial renovation projects</p>
				<hr class="sm-hide md-hide lg-hide my2">
			</div>
		</div>
		<div class="clearfix mb3">
			<div class="col col-12 sm-col-4 sm-pr2">
				<h3 class="mt0 mb1">Sabin Landscape Architects</h3>
				<p class="m0">Design and development for Sabin Landscape Architects, a business that provides comprehensive service toward the development of sustainable landscapes in Residential and Commercial settings</p>
				<hr class="sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4 sm-pr2">
				<h3 class="mt0 mb1">DevProgress</h3>
				<p class="m0">Design and development work for DevProgress, a community of technology volunteers who want to make sure that progressive candidates are on the winning side of the 2016 election cycle</p>
				<hr class="sm-hide md-hide lg-hide my2">
			</div>
			<div class="col col-12 sm-col-4 sm-pr2">
				<h3 class="mt0 mb1">AutoLean</h3>
				<p class="m0">Design and development for AutoLean, a Louisville, KY business that provides automation software and lean manufacturing assistance</p>
			</div>
		</div>
	</div>
</div>