<div class="px2">
	<div class="max-width-4 mx-auto">
		<div class="clearfix mb3">
			<div class="col col-12 sm-col-8">
				<h1 class="h2 regular">A collection of articles I've published on Medium.</h1>
			</div>
		</div>
		<div class="mb3">
			<h3 class="m0 h2">
				<a class="text-decoration-none white default-link" href="https://medium.freecodecamp.com/vue-js-introduction-for-people-who-know-just-enough-jquery-to-get-by-eab5aa193d77" target="_blank">A Vue.js introduction for people who know just enough jQuery to get by</a>
			</h3>
			<p class="mt1 muted">Apr 10, 2017</p>
		</div>
		<div class="mb3">
			<h3 class="m0 h2">
				<a class="text-decoration-none white default-link" href="https://medium.freecodecamp.com/a-winners-guide-to-prototyping-in-the-browser-95c5a161a67d" target="_blank">I wrote a playbook to help designers build prototypes using real code
</a>
			</h3>
			<p class="mt1 muted">May 5, 2017</p>
		</div>
		<div class="mb3">
			<h3 class="m0 h2">
				<a class="text-decoration-none white default-link" href="https://uxdesign.cc/treating-full-stack-anxiety-e96f984a02ec#.ayudova14" target="_blank">Treating Full Stack Anxiety</a>
			</h3>
			<p class="mt1 muted">Jul 19, 2016</p>
		</div>
		<div class="mb3">
			<h3 class="m0 h2">
				<a class="text-decoration-none white default-link" href="https://medium.com/@mattrothenberg/living-styleguides-instantly-with-runway-529c397e8dd5" target="_blank">Living Styleguides Instantly with Runway</a>
			</h3>
			<p class="mt1 muted">Dec 21, 2016</p>
		</div>
		<div class="mb3">
			<h3 class="m0 h2">
				<a class="text-decoration-none white default-link" href="https://hackernoon.com/adventures-in-prototyping-a-cli-e95aff625b42#.aa2g5rdhh" target="_blank">Adventures in prototyping a Command Line Interface</a>
			</h3>
			<p class="mt1 muted">February 2, 2017</p>
		</div>
		<div class="mb3">
			<h3 class="m0 h2">
				<a class="text-decoration-none white default-link" href="https://medium.com/@mattrothenberg/from-design-to-code-in-6-steps-8f41a697c8d" target="_blank">From Design to Code in 6 Steps</a>
			</h3>
			<p class="mt1 muted">January 4, 2017</p>
		</div>
	</div>
</div>
