<section class="home">
  <div class="row">
    <div class="col-sm-9">
      <section class="about-me">
        <p class="lead">
          Matt is the Product Design Lead at <a class="fancy-link" target="_blank" href="http://rubiconmd.com">RubiconMD</a>. He speaks French, sends the occasional <a class="fancy-link" target="_blank" href="http://twitter.com/mattrothenberg"> tweet</a>, and posts silly pictures of his dog on <a class="fancy-link" target="_blank" href="http://instagram.com/rothenbizzle">Instagram</a>.
        </p>
      </section>
    </div>
  </div>
</section>
