<section class="home">
  <div class="row">
    <div class="col-sm-9">
      <section class="about-me">
        <p class="lead">
          Matt Rothenberg is a designer<span class="asterisk">*</span> at <a target="_blank" href="http://pivotallabs.com">Pivotal Labs</a>. He speaks French, sends the occasional <a target="_blank" href="http://twitter.com/mattrothenberg"> tweet</a>, and posts silly pictures of his dog on <a target="_blank" href="http://instagram.com/rothenbizzle">Instagram</a>.
        </p>
      </section>
      <section class="footnote">
        <p>Front-end wizard, lean &amp; agile consultant, balanced team advocate</p>
      </section>
    </div>
  </div>
</section>