<section class="home">
  <div class="row">
    <div class="col-sm-9">
      <section class="about-me">
        <p class="lead">
          Matt Rothenberg is an engineer<span class="asterisk">*</span> at <a class="fancy-link" target="_blank" href="http://pivotallabs.com">Pivotal Labs</a>. He speaks French, sends the occasional <a class="fancy-link" target="_blank" href="http://twitter.com/mattrothenberg"> tweet</a>, and posts silly pictures of his dog on <a class="fancy-link" target="_blank" href="http://instagram.com/rothenbizzle">Instagram</a>.
        </p>
      </section>
      <section class="footnote">
        <em>* user-centered designer, lean &amp; agile consultant</em>
      </section>
    </div>
  </div>
</section>
