<div class="resume">
	<section class="about">
		<div class="section-title-container">
			<h1 class="h5 section-title">
				About
			</h1>
		</div>
		<p class="lead">
			Designer and francophile, looking to fuse a passion for visual design and front-end development with sophisticated analytical and communication skills.
		</p>
		<p class="lead">
			I believe in the power of pair-design, balanced product teams, and lean UX.
		</p>
	</section>
	<section class="experience">
		<div class="section-title-container">
			<h1 class="h5 section-title">
				Experience
			</h1>
		</div>
		<div class="resume-item">
			<h2 class="h4">
				Pivotal Labs
			</h2>
			<ul class="meta-list list-unstyled">
				<li>New York, NY</li>
				<li>Product Designer</li>
				<li>2014 - Present</li>
			</ul>
			<p>User-centered design, Balanced product teams, Agile software engineering.</p>

			<p>Consulting clients big and small on lean/agile product principles. I'm on a mission to demystify design and increase its voice in an integrated product team, championing for small, iterative choices, thoughtful decisions over shiny deliverables, and front-end prototyping / living style guides. </p>
		</div>
		<div class="resume-item">
			<h2 class="h4">
				Jet A Studio
			</h2>
			<ul class="meta-list list-unstyled">
				<li>Louisville, KY</li>
				<li>Front-End Developer</li>
				<li>2013 - 2014</li>
			</ul>
			<p>Lead designer, responsible for design, development, and testing of client websites and native web applications. Front End Development utilizing HTML, SCSS, JavaScript, and PHP.</p>
		</div>
		<div class="resume-item">
			<h2 class="h4">
				RTC Relationship Marketing
			</h2>
			<ul class="meta-list list-unstyled">
				<li>Washington, DC</li>
				<li>Project Manager	</li>
				<li>2012 - 2013</li>
			</ul>
			<p>Responsible for project definition, scoping, scheduling, and budgeting across multiple client accounts</p>
		</div>
		<div class="resume-item">
			<h2 class="h4">
				Greenberg Quinlan Rosner Digital
			</h2>
			<ul class="meta-list list-unstyled">
				<li>Washington, DC</li>
				<li>Digital Project Coordinator</li>
				<li>2012 - 2013</li>
			</ul>
			<p>Help clients (domestic and international political) leverage the power of social media, online advertising, and other digital initiatives.</p>
		</div>
	</section>
	<section class="competencies">
		<div class="section-title-container">
			<h1 class="h5 section-title">
				Technical Competencies
			</h1>
		</div>
		<ul class="list-unstyled">
			<li><strong>Research:</strong> Persona Development, Contextual Inquiry, Scenario Generation</li>
			<li><strong>Front-end Prototyping:</strong> Ionic Framework (Angular), Middleman, Yeoman</li>
			<li><strong>Front-end Development:</strong> HTML, CSS, Javascript (Angular, React) Wordpress, Rails</li>
			<li><strong>Visual Design:</strong> Sketch, Adobe Creative Suite, Cinema 4D</li>
			<li><strong>Programming:</strong> Python, Java</li>
		</ul>
	</section>
	<section class="education">
		<div class="section-title-container">
			<h1 class="h5 section-title">
				Education
			</h1>
		</div>
		<div class="resume-item">
			<h2 class="h4">
				Skidmore College
			</h2>
			<ul class="meta-list list-unstyled">
				<li>Saratoga Springs, NY</li>
				<li>BA, Government / French</li>
				<li>2008 - 2011</li>
			</ul>
			<p>
				Summa cum laude; Early Graduate; Departmental and Highest College Honors
			</p>
		</div>
	</section>
</div>