<div class="alert">
  Most of my Product (UI/UX) work is under NDA, but I would love to talk to you about my experience in:
  <ul>
    <li><strong>User Research</strong> (understanding users in order to define solutions that are useful and usable)</li>
    <li><strong>Prototyping</strong> (in various degrees of fidelity)</li>
    <li><strong>Living Style Guides &amp; Design Systems</strong></li>
    <li><strong>Full Stack Engineering</strong> (Javascript / Ruby / Java / Golang)</li>
  </ul>
</div>

<ul class="dev-work-list">
  <li>
    <a target="_blank" href="http://codepen.io/mattrothenberg/">
      <div class="work-title">
        <h1 class="h4">UI Work on CodePen</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>An assortment of various UI elements, interaction design treatments and experiments</p>
      <ul class="dot-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
      </ul>
    </a>
  </li>
  <li>
    <a target="_blank" href="https://github.com/davwards/valchemy">
      <div class="work-title">
        <h1 class="h4">Valchemy</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>Presentation and framework agnostic validation engine in javascript, designed with the goal of demonstrating functional programming concepts like higher-order functions through real-world use cases</p>
      <ul class="dot-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>Wordpress</li>
      </ul>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://acme-styleguide.cfapps.io/">
      <div class="work-title">
        <h1 class="h4">Acme Living Styleguide</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>A living styleguide for the fictitious "Acme" company. Powered by Hologram, a Ruby gem that parses comments in your CSS and helps you turn them into a beautiful style guide</p>
      <ul class="dot-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>Hologram / Ruby</li>
      </ul>
  </li>
  <li>
    <a target="_blank" href="http://codepen.io/mattrothenberg/pen/XdzPXK">
      <div class="work-title">
        <h1 class="h4">TSA Randomizer App</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>My attempt at the infamous TSA Randomizer app, all in ~30 lines of javascript</p>
      <ul class="dot-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
      </ul>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://twf-prototype.cfapps.io/">
      <div class="work-title">
        <h1 class="h4">Turds With Friends</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>A mobile web game that pokes fun at Words with Friends. Destigmatizing pooping, one cute poop emoji at a time.</p>
      <ul class="dot-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>Angular</li>
        <li>Parse Backend</li>
      </ul>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://codepen.io/mattrothenberg/pen/ZWxwJO">
      <div class="work-title">
        <h1 class="h4">ConcourseCI (Rapid Prototype)</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>Rapidly prototyped a new interface to validate design choices for ConcourseCI</p>
      <ul class="dot-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
      </ul>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://spotifyclone.cfapps.io/">
      <div class="work-title">
        <h1 class="h4">Spotify (Rapid Prototype)</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>Rapidly prototyped Spotify's iOS app with Ionic Framework, capturing several high-level interaction design details</p>
      <ul class="dot-list">
        <li>Angular</li>
        <li>Ionic Framework</li>
        <li>JS</li>
      </ul>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://inboxclone.cfapps.io/">
      <div class="work-title">
        <h1 class="h4">Google Inbox (Rapid Prototype)</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>Rapidly prototyped Google's iOS Inbox app with Ionic Framework, capturing several high-level interaction design details</p>
      <ul class="dot-list">
        <li>Angular</li>
        <li>Ionic Framework</li>
        <li>JS</li>
      </ul>
    </a>
  </li>
</ul>
