<ul class="dev-work-list">
  <li>
    <a target="_blank" href="http://x.ai">
      <div class="work-title">
        <h1 class="h4">x.ai</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>Front end development for x.ai, a company that builds and maintains an artificial intelligence powered personal assistant</p>
      <ul class="dot-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>Wordpress</li>
      </ul>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://baxtingui.com/">
      <div class="work-title">
        <h1 class="h4">Baxt Ingui</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>User-interface design and front-end development for Baxt Ingui, a general-practice architectural and design firm in New York City with extensive experience in residential and commercial renovation projects.</p>
      <ul class="dot-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>Wordpress</li>
      </ul>
    </a>
  </li>
  <li>
    <a target="_blank" href="https://devprogress.github.io/DevProgress/">
      <div class="work-title">
        <h1 class="h4">DevProgress</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>Visual design and development of landing page for DevProgress, a community of technology volunteers who want to make sure that progressive candidates are on the winning side of the 2016 election cycle.</p>
      <ul class="dot-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
      </ul>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://contendr.cfapps.io/">
      <div class="work-title">
        <h1 class="h4">Contendr</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>Front-end development of Contendr, a project that aims to shed light on uncontested state legislature races in the United States. Proof-of-concept entered in 2015 Hack4Congress competition.</p>
      <ul class="dot-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>MapBox</li>
      </ul>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://becandid.co/">
      <div class="work-title">
        <h1 class="h4">Candid</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>User-interface design and front-end development of "Candid," an anonymous platform that employees can use to rate their company's culture along 7 different axes.</p>
      <ul class="dot-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>Django</li>
      </ul>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://dirksabindesign.com/">
      <div class="work-title">
        <h1 class="h4">Sabin Landscape Architects</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>Design and front-end development for Sabin Landscape Architects, a business that provides comprehensive service toward the development of sustainable landscapes in Residential, Commercial, Institutional and Municipal Settings</p>
      <ul class="dot-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>Wordpress</li>
      </ul>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://autolean.com/">
      <div class="work-title">
        <h1 class="h4">AutoLean</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>User-interface design and front-end development for AutoLean, a Louisville, KY business that provides automation software and lean manufacturing assistance.</p>
      <ul class="dot-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>Wordpress</li>
      </ul>
    </a>
  </li>
  <li>
    <a target="_blank" href="http://herecomesnow.com/">
      <div class="work-title">
        <h1 class="h4">Here Comes Now</h1>
        <span>View Work</span>
      </div>
      <hr>
      <p>User-interface design and front-end development for Here Comes Now, the debut musical release from astrophysicist/jazz tenor Stephon Alexander and emerging New York electronic producer Rioux.</p>
      <ul class="dot-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>Wordpress</li>
      </ul>
    </a>
  </li>
</ul>
