<div class="work-design">
  <img class="img-responsive" src="./images/work/loading-placeholder.jpg" lazy-img="./images/work/abstract-1.jpeg" alt="Abstract #1"/>
  <img class="img-responsive" src="./images/work/loading-placeholder.jpg" lazy-img="./images/work/abstract-2.jpeg" alt="Abstract #2"/>
  <img class="img-responsive" src="./images/work/loading-placeholder.jpg" lazy-img="./images/work/abstract-3.jpeg" alt="Abstract #3"/>
  <img class="img-responsive" src="./images/work/loading-placeholder.jpg" lazy-img="./images/work/abstract-4.jpeg" alt="Abstract #4"/>
  <img class="img-responsive" src="./images/work/loading-placeholder.jpg" lazy-img="./images/work/abstract-5.jpeg" alt="Abstract #5"/>
  <img class="img-responsive" src="./images/work/loading-placeholder.jpg" lazy-img="./images/work/abstract-6.jpeg" alt="Abstract #6"/>
  <img class="img-responsive" src="./images/work/loading-placeholder.jpg" lazy-img="./images/work/abstract-7.jpeg" alt="Abstract #7"/>
  <img class="img-responsive" src="./images/work/loading-placeholder.jpg" lazy-img="./images/work/icon-1.jpeg" alt="Icon #1"/>
  <img class="img-responsive" src="./images/work/loading-placeholder.jpg" lazy-img="./images/work/icon-2.jpeg" alt="Icon #2"/>
  <img class="img-responsive" src="./images/work/loading-placeholder.jpg" lazy-img="./images/work/icon-3.jpeg" alt="Icon #3"/>
  <img class="img-responsive" src="./images/work/loading-placeholder.jpg" lazy-img="./images/work/icon-4.jpeg" alt="Icon #4"/>
  <img class="img-responsive" src="./images/work/loading-placeholder.jpg" lazy-img="./images/work/icon-5.jpeg" alt="Icon #5"/>
  <img class="img-responsive" src="./images/work/loading-placeholder.jpg" lazy-img="./images/work/icon-6.jpeg" alt="Icon #6"/>
</div>
